#define ZMK_POINTING_DEFAULT_SCRL_VAL 150

#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>


/* =========================================================
 * Layer numbers
 * ========================================================= */

#define MOUSE 1
#define MARK 2
#define CURSOR 3
#define FUNCTION 4
#define SCROLL 5
#define WIRELESS 6
#define WIN_MARK 7


/* =========================================================
 * Windows JIS symbol mapping
 *
 * Windows側が「日本語キーボード 106/109」の場合に、
 * US配列と同じ記号を入力するための補正。
 * ========================================================= */

// 上段1
#define JP_PIPE       LS(0x89)       // |
#define JP_COLON      SINGLE_QUOTE   // :
#define JP_DQT        AT             // "
#define JP_MINUS      MINUS          // -
#define JP_DOLLAR     LS(N4)         // $
#define JP_EXCL       LS(N1)         // !
#define JP_ASTRK      DOUBLE_QUOTES  // *
#define JP_LBKT       RBKT           // [
#define JP_RBKT       BSLH           // ]

// 上段2
#define JP_SLASH      SLASH          // /
#define JP_SEMI       SEMI           // ;
#define JP_SQT        LS(N7)         // '
#define JP_EQUAL      UNDER          // =
#define JP_AT         LEFT_BRACKET   // @
#define JP_QMARK      LS(SLASH)      // ?
#define JP_PLUS       COLON          // +
#define JP_LPAR       LS(N8)       // (
#define JP_RPAR       LS(N9)  // )

// 上段3
#define JP_GRAVE      AMPERSAND      // `
#define JP_TILDE      PLUS           // ~
#define JP_HASH       LS(N3)         // #
#define JP_AMPS       CARET          // &
#define JP_PRCNT      LS(N5)         // %
#define JP_LT         LS(COMMA)      // <
#define JP_GT         LS(DOT)        // >

// 下段
#define JP_UNDER      LS(0x87)       // _


/* =========================================================
 * Mouse cursor
 * ========================================================= */

&mmv {
    delay-ms = <20>;
    trigger-period-ms = <5>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <2>;
};


/* =========================================================
 * Mouse scroll
 * ========================================================= */

&msc {
    delay-ms = <5>;
    trigger-period-ms = <5>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <0>;
};


/* =========================================================
 * Input processors
 * ========================================================= */

/ {
    input_processors {
        zip_wheel_scaler: zip_wheel_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_WHEEL>;
            track-remainders;
        };
    };
};


&msc_input_listener {
    speed_up {
        layers = <FUNCTION>;
        input-processors = <&zip_wheel_scaler 1 1>;
    };
};


&trackball_listener {
    input-processors = <&zip_xy_scaler 1 2>;

    scroller {
        layers = <SCROLL>;
        input-processors = <&zip_xy_to_scroll_mapper>;
    };
};


/* =========================================================
 * Main
 * ========================================================= */

/ {
    combos {
        compatible = "zmk,combos";

        ZenkakuHankaku {
            bindings = <&kp GRAVE>;
            key-positions = <11 12>;
        };

        DeleteKey {
            bindings = <&kp DEL>;
            key-positions = <7 8>;
        };

        InsertKey {
            bindings = <&kp INS>;
            key-positions = <6 7>;
        };

        CenterClick {
            bindings = <&mkp MB3>;
            key-positions = <17 16>;
        };

        RightClick {
            bindings = <&mkp MB2>;
            key-positions = <18 17>;
        };

        PrevClick {
            bindings = <&mkp MB4>;
            key-positions = <27 28>;
        };

        ClickNext {
            bindings = <&mkp MB5>;
            key-positions = <26 27>;
        };
    };


    /* =====================================================
     * Behaviors
     * ===================================================== */

    behaviors {
        re_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        mouse_scrl: mouse_wheel_scrl {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };

        homerow_mod: homerow_mod {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        left_hand_mod: left_hand_mod {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <
                5 6 7 8 9
                15 16 17 18 19
                25 26 27 28 29
                35 36 37 38 39 40
            >;

            hold-trigger-on-release;
        };

        gui_mb3: gui_mb3 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&mkp>;
        };
    };


    /* =====================================================
     * Bluetooth macros
     * ===================================================== */

    macros {
        bt0_mac_map: bt1_map {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;

            bindings =
                <&bt BT_SEL 0>,
                <&macro_wait_time 200>,
                <&to 0>;

            label = "BT1_MAP";
        };

        bt1_win_map: bt1_win_map {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;

            bindings =
                <&bt BT_SEL 1>,
                <&macro_wait_time 200>,
                <&to 1>;

            label = "BT1_WIN_MAP";
        };

        bt2_ipad_map: bt2_ipad_map {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;

            bindings =
                <&bt BT_SEL 2>,
                <&macro_wait_time 200>,
                <&to 0>;

            label = "BT2_IPAD_MAP";
        };
    };


    /* =====================================================
     * Keymap
     * ===================================================== */

    keymap {
        compatible = "zmk,keymap";


        /* =================================================
         * 0 : MAC
         * ================================================= */

        MAC {
            bindings = <
&kp Q                  &kp W      &kp E           &kp R    &kp T                                      &kp Y      &kp U  &kp I        &kp O       &kp P
&homerow_mod LSHIFT A  &kp S      &kp D           &kp F    &kp G                                      &kp H      &kp J  &lt 5 K      &kp L       &homerow_mod RIGHT_SHIFT MINUS
&homerow_mod LGUI Z    &kp X      &kp C           &kp V    &kp B                                      &kp N      &kp M  &mkp MB1     &mkp MB2    &gui_mb3 LGUI MB3
&kp TAB                &kp LCTRL  &mt LALT LANG2  &kp INS  &lt 5 LANG1  &lt 2 SPACE    &kp BACKSPACE  &kp ENTER         &lt 4 COMMA  &kp PERIOD  &lt 6 ESCAPE
            >;

            sensor-bindings = <&re_kp RIGHT LEFT>;
        };


        /* =================================================
         * 1 : WINDOWS
         *
         * Space長押し:
         *   変更前 → MARK(2)
         *   変更後 → WIN_MARK(7)
         * ================================================= */

        Windows {
            bindings = <
&kp Q                        &kp W         &kp E                    &kp R    &kp T                                           &kp Y      &kp U  &kp I        &kp O     &kp P
&homerow_mod LEFT_SHIFT A    &kp S         &kp D                    &kp F    &kp G                                           &kp H      &kp J  &lt 5 K      &kp L     &homerow_mod RIGHT_SHIFT MINUS
&homerow_mod LEFT_CONTROL Z  &kp X         &kp C                    &kp V    &kp B                                           &kp N      &kp M  &mkp MB1     &mkp MB2  &gui_mb3 RIGHT_CONTROL MB3
&kp TAB                      &kp LEFT_GUI  &mt LEFT_ALT LANGUAGE_2  &kp INS  &lt 3 LANGUAGE_1  &lt WIN_MARK SPACE    &kp BACKSPACE  &kp ENTER         &lt 4 COMMA  &kp DOT   &lt 6 ESCAPE
            >;

            sensor-bindings = <&re_kp RIGHT LEFT>;
        };


        /* =================================================
         * 2 : MARK
         * Mac / iPad用
         * ================================================= */

        MARK {
            bindings = <
&trans  &kp PIPE   &kp COLON      &kp DOUBLE_QUOTES  &kp MINUS                         &kp DOLLAR   &kp EXCLAMATION  &kp ASTERISK  &kp LEFT_BRACKET      &kp RIGHT_BRACKET
&trans  &kp SLASH  &kp SEMICOLON  &kp SQT            &kp EQUAL                         &kp AT_SIGN  &kp QUESTION     &kp PLUS      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
&trans  &trans     &trans         &kp GRAVE          &kp TILDE                         &kp HASH     &kp AMPERSAND    &kp PERCENT   &kp LESS_THAN         &kp GREATER_THAN
&trans  &trans     &trans         &trans             &kp UNDERSCORE  &trans    &trans  &trans                        &trans        &trans                &trans
            >;

            sensor-bindings = <&re_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };


        /* =================================================
         * 3 : CURSOR
         * ================================================= */

        CURSOR {
            bindings = <
&kp PAGE_UP    &kp LC(LS(TAB))  &kp UP_ARROW  &kp LC(TAB)      &trans                              &kp KP_MULTIPLY  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp KP_PLUS
&kp PAGE_DOWN  &kp LEFT_ARROW   &kp DOWN      &kp RIGHT_ARROW  &kp LG(LS(S))                       &kp KP_SLASH     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp KP_MINUS
&kp HOME       &kp LA(LS(TAB))  &kp END       &kp LA(TAB)      &trans                              &kp UNDER        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp ENTER
&trans         &trans           &trans        &trans           &trans         &trans    &kp ENTER  &kp NUMBER_0                   &kp DOT       &kp ENTER     &kp QUESTION
            >;
        };


        /* =================================================
         * 4 : FUNCTION
         * ================================================= */

        FUNCTION {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4   &kp F5                     &trans      &trans  &kp LA(PRINTSCREEN)  &trans  &kp LC(LA(DELETE))
&kp F6  &kp F7  &kp F8  &kp F9   &kp F10                    &trans      &trans  &kp LS(LG(S))        &trans  &kp LC(LS(ESCAPE))
&trans  &trans  &trans  &kp F11  &kp F12                    &kp C_MUTE  &trans  &trans               &trans  &kp LC(LA(INS))
&trans  &trans  &trans  &trans   &trans   &trans    &trans  &trans              &trans               &trans  &trans
            >;

            sensor-bindings = <&mouse_scrl SCRL_DOWN SCRL_UP>;
        };


        /* =================================================
         * 5 : SCROLL
         * ================================================= */

        SCROLL {
            bindings = <
&kp PAGE_UP    &kp LG(LEFT_BRACKET)  &kp UP_ARROW  &kp LG(RIGHT_BRACKET)  &kp LC(UP_ARROW)                            &kp KP_MULTIPLY  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp KP_PLUS
&kp PAGE_DOWN  &kp LEFT_ARROW        &kp DOWN      &kp RIGHT_ARROW        &kp LS(LC(LG(NUMBER_4)))                    &kp KP_SLASH     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp KP_MINUS
&kp HOME       &kp LS(LG(TAB))       &kp END       &kp LG(TAB)            &kp LC(DOWN)                                &kp UNDER        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp ENTER
&trans         &trans                &trans        &trans                 &trans                    &trans    &trans  &kp NUMBER_0                   &kp NUMBER_0  &kp DOT       &kp QUESTION
            >;

            sensor-bindings = <&mouse_scrl SCRL_DOWN SCRL_UP>;
        };


        /* =================================================
         * 6 : WIRELESS
         * ================================================= */

        WIRELESS {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                         &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans        &trans        &trans        &trans        &trans                               &trans          &trans        &trans        &trans        &bt BT_CLR_ALL
&trans        &trans        &trans        &trans        &trans                               &trans          &trans        &trans        &trans        &bt BT_CLR
&trans        &trans        &trans        &trans        &trans        &trans    &bootloader  &studio_unlock                &trans        &trans        &trans
            >;

            sensor-bindings = <&inc_dec_kp RIGHT_ARROW LEFT_ARROW>;
        };


        /* =================================================
         * 7 : WIN_MARK
         *
         * Windows 106/109 JIS配列専用
         *
         * 配置はMARKレイヤーと同じ。
         * 出力だけJIS Windows向けに変換。
         * ================================================= */

        WIN_MARK {
            bindings = <
&trans  &kp JP_PIPE   &kp JP_COLON  &kp JP_DQT    &kp JP_MINUS                         &kp JP_DOLLAR  &kp JP_EXCL   &kp JP_ASTRK  &kp JP_LBKT   &kp JP_RBKT
&trans  &kp JP_SLASH  &kp JP_SEMI   &kp JP_SQT    &kp JP_EQUAL                         &kp JP_AT      &kp JP_QMARK  &kp JP_PLUS   &kp JP_LPAR   &kp JP_RPAR
&trans  &trans        &trans        &kp JP_GRAVE  &kp JP_TILDE                         &kp JP_HASH    &kp JP_AMPS   &kp JP_PRCNT  &kp JP_LT     &kp JP_GT
&trans  &trans        &trans        &trans        &kp JP_UNDER    &trans    &trans     &trans                       &trans        &trans        &trans
            >;

            sensor-bindings = <&re_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };
    };
};
